<tr id="tr-<%= value.id %>">
  <td class="name-column"><%= value.name %></td>
  <td><%= link_to(content_tag(:i, "", :class => "fa fa-external-link-square icon-link-action")+" Ver", {:action => "show_value", :id => value.id },{:class => "link-action"}) %></td>
  <td><%= link_to(content_tag(:i, "", :class => "fa fa-pencil-square icon-link-action")+" Editar", {:action => "edit_value", :id => value.id },{:class => "link-action"}) %></td>
  <td><%= link_to(content_tag(:i, "", :class => "fa fa-minus-square icon-link-action")+" Eliminar", {:action => "delete_value", :id => value.id },{:class => "link-action", :data => {:confirm => ""}, :remote => true}) %></td>
</tr>


