<tr id="tr-<%= shipment_method.id %>">
    <td><%= check_box_tag('selected[]', shipment_method.id) %></td>
    <td class="name-column"><%= shipment_method.name %></td>
    <td><%= link_to(content_tag(:i, "", :class => "fa fa-external-link-square icon-link-action")+" Ver", {:action => "show", :id => shipment_method.id },{:class => "link-action"}) %></td>
    <td><%= link_to(content_tag(:i, "", :class => "fa fa-pencil-square icon-link-action")+" Editar", {:action => "edit", :id => shipment_method.id },{:class => "link-action"}) %></td>
    <td><%= link_to(content_tag(:i, "", :class => "fa fa-minus-square icon-link-action")+" Eliminar", {:action => "delete", :id => shipment_method.id },{:class => "link-action", :data => {:confirm => ""}, :remote => true}) %></td>
</tr>

