<% @page_title = "Propiedades - Inicio" %>
<div class="row">
  <div class="small-7 small-offset-2 columns offset">
    <%= link_to("Propiedades", {:action => "index"},{:class => "page-title"}) %>
  </div>
  <div class="small-3 columns offset-button">
  </div>
</div>
<div class="row rendered" id="view-info" modal-message="">
  <div class="small-2 columns"></div>
  <div class="small-10 small columns">
    <div class="row">
      <div class="small-12 columns success">
        <% if flash[:notice] %>
            <div data-alert class="alert-box success-alert">
              <%= flash[:notice] %>
              <a href="#" class="close">&times;</a>
            </div>
        <% end %>
        <%= render 'shared/collection_form', {action: 'create_property', remote: "remote", value: "true", button_label: 'Agregar Propiedad', collection: @property, type: "property" } %>
      </div>
    </div>
    <div class="row data-content <%= set_class('display-none', '', @no_data)%>"></div>
        <div class="row">
          <div class="small-12 columns">
            <% if flash[:no_data] %>
                <%= render "shared/no_data", {:message => flash[:no_data]} %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="<%= set_class('small-12 columns data-content display-none', 'small-12 columns data-content', @no_data)%>">
            <table class="responsive collection-table">
              <thead>
              <tr>
                <th>Propiedades</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <%= render @properties %>
              </tbody>
            </table>
    </div>
    </div>
  </div>
</div>