<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= @page_title || "Shopzii" %></title>
    <%= stylesheet_link_tag    "admin" %>
    <%= stylesheet_link_tag    "responsive-tables" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
	<header>
		<div class="fixed">
			<nav class="top-bar" data-topbar role="navigation">
              <p class="logo left">Shopzii</p>
              <section class="top-bar-section user-actions">
                <ul class="right">
                  <li class="has-dropdown username">
                    <a href="#"><i class="fi-torso"></i><span><%= session[:username]%></span></a>
                    <ul class="dropdown">
                      <li class="username"><%= link_to(content_tag(:i, "", :class=>"fi-power")+content_tag(:span, "Salir"), {:controller => 'access', :action => "logout" }, {:class => "username"}) %></li>
                    </ul>
                  </li>
                </ul>
              </section>
            </nav>
		</div>
        <ul class="side-nav" role="navigation" title="Link List">
          <li role="menuitem"><%= link_to(content_tag(:i, "", :class=>"fa fa-home")+"Inicio", {:controller => 'dashboard', :action => "index" }, {:class => "active-side-menu"}) %></li>
          <li class="divider"></li>
          <li role="menuitem "><%= link_to(content_tag(:i, "", :class=>"fa fa-file-text")+"Ordenes", {:controller => 'orders', :action => "index" }) %></li>
          <li class="divider"></li>
          <li role="menuitem"><%= link_to(content_tag(:i, "", :class=>"fa fa-cubes")+"Productos", {:controller => 'products', :action => "index" }) %></li>
          <li class="divider"></li>
          <li role="menuitem"><%= link_to(content_tag(:i, "", :class=>"fa fa-list")+"Colecciones", {:controller => 'collections', :action => "index" }) %></li>
          <li class="divider"></li>
          <li role="menuitem"><%= link_to(content_tag(:i, "", :class=>"fa fa-truck")+"Envios", {:controller => 'shipment_methods', :action => "index" }) %></li>
          <li class="divider"></li>
        </ul>
	</header>
    <%= yield %>
    <%= javascript_include_tag "application"%>
  </body>
</html>
